*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    color: white;
    background-color: black;
    background-image: url('img/wutangback.jpeg');
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 4rem;
}

.questionblock{
    background: rgba(0, 0, 0, 0.399);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.question{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 14px;
}

.hide{
    display: none;
}